.weather-container{
	display: flex;
	flex-direction: column;
	width: auto;
	min-width: 250px;
	min-height: $component-height;
	border: solid 1px black;

	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	

	.option-selectors {
		height: 10%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
		margin: 10px;

		a {
			text-decoration: none;
			margin-left:10px; 
			img {
				height: 1em;
			}
		}
	}

	.weather-data {
		width: 100%;
		display: flex;
		align-items: center;
		align-content: space-between;
		flex-direction: column;

		span, div{
			margin: 10px;
		}

		.main-data {
			display: flex;
			align-items: flex-start;
			font-weight: bold; 
			font-size: 2em; 

			.temp{
				font-size: 2.5em; 
			}
		}

		.other-data{
			display: flex;
			align-items: flex-start;
			img {
				height: 2em;
			}
		}
	}

}